<div data-theme="b" data-role="page" id="Register">
	<div data-role="header" data-position="fixed" class="wow fadeInDown">
		<a href="#" data-direction="reverse" data-role="button" data-position="left" data-rel="back" data-inline="true" data-transition="slide" class="ui-btn ui-btn-left wow fadeIn" data-wow-delay='0.8s'><i class="zmdi zmdi-close"></i></a>
		<h1 class="wow fadeIn" data-wow-delay='0.4s'>Account erstellen</h1>
		<a href="#Home" class="wow fadeIn" data-position="right" data-role="button" data-inline="true" data-wow-delay='1.2s'><i class="zmdi zmdi-save"></i></a>
	</div>

	<div role="main" class="ui-content wow fadeIn" data-inset="false" data-wow-delay="0.2s">
		<form id="frmRegistration" method="POST">
			<div class="row">
				<div class="col-xs-12">
					<div class="box">
						<input type="text" name="username" id="username" value="" data-clear-btn="true" placeholder="Benutzername">
						<input type="email" name="email" id="email" value="" data-clear-btn="true" placeholder="E-Mail Adresse">
						<input type="password" name="password" id="password" value="" data-clear-btn="true" placeholder="Passwort">
						<input type="password" name="confirm_password" id="confirm_password" value="" data-clear-btn="true" placeholder="Passwort wiederholen">
						<input type="submit" value="Registrieren" data-role="button" id="submit-registration" />
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
