<div data-theme="b" data-role="page" id="Login">
	<div data-role="header" data-position="fixed" class="wow fadeInDown">
		<a href="#" data-direction="reverse" data-role="button" data-position="left" data-rel="back" data-inline="true" data-transition="slide" class="ui-btn ui-btn-left wow fadeIn" data-wow-delay='0.8s'><i class="zmdi zmdi-close"></i></a>
		<h1 class="wow fadeIn" data-wow-delay='0.4s'>Login</h1>
	</div>

	<div role="main" class="ui-content wow fadeIn" data-inset="false" data-wow-delay="0.2s">
		<form id="frmLogin" method="POST">
			<div class="row">
				<div class="col-xs-12">
					<div class="box">
						<input type="text" name="username" id="username" value="" data-clear-btn="true" placeholder="Benutzername">
						<input type="password" name="password" id="password" value="" data-clear-btn="true" placeholder="Passwort">
						<input type="submit" id="submit-login" value="Login" data-role="button" />
					</div>
				</div>
			</div>
			<div class="row" style="margin-top:30px">
				<div class="col-xs-12 center-xs">
					<div class="box">
						<p><small>Noch keinen Account?</small></p>
						<a href="#Register" data-role="button" class="btn-primary">Jetzt Registrieren</a>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
